header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-bottom: #444 0.01px solid;
}

h1 {
  color: whitesmoke;
  font-size: 30px;
}

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
}

section > div {
  font-size: 20px;
  margin: 5px;
  color: white;
}
